<div class="album text-muted">
 <div class="container portfolio-container">
   <div class="row">

      <h1>Create a new Portfolio Item</h1>

      <%= render 'form', portfolio: @portfolio %>

    </div>
  </div>
</div>

