  <footer class="mastfoot">
    <div class="inner r">
      <p class="app-footer"> <%= copyright_generator %></p>
      <ul class= "social-media">
        <li><a href="#"> <%= fa_icon "github" %></a></li>
        <li><a href="#"> <%= fa_icon "linkedin" %></a></li>
        <li><a href="#"> <%= fa_icon "instagram" %></a></li>
      </ul>
    </div>
  </footer>