
<header class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Cherish Clark</h3>
    <nav class="nav nav-masthead">
      <%= nav_helper "span", "nav-link" %> 
    </nav>
  </div>
</header>