  <footer class="mastfoot">
    <div class="inner r">
      <p class="app-footer"> <%= copyright_generator %></p>
      <ul class= "social-media">
        <li><a href="https://github.com/CherishClark" target="_blank"> <%= fa_icon "github" %></a></li>
        <li><a href="https://www.linkedin.com/in/cherishclark/" target="_blank"> <%= fa_icon "linkedin" %></a></li>
        <li><a href="https://www.instagram.com/icherishyou/" target="_blank"> <%= fa_icon "instagram" %></a></li>
      </ul>
    </div>
  </footer>