<div class="app-card-container">

  <div>
    <h1 id="about-name">   <%= image_tag "baby.jpg", id: "profile-image"%> Cherish Clark</h1>
    <div class="about"> 
      <h1> Job History
        <i class="fa fa-angle-down rotate" 
        aria-hidden="true"
        data-toggle="collapse"
        data-target="#jobHistory"
        aria-expanded="false"
        aria-controler="jobHistory">
        </i>
      </h1>

      <div class="collapse" id="jobHistory">

        <hr>

        <h2 class="job company">
          Goldman Sachs
        </h2> 

        <div class="job title">
          Senior Analyst
        </div>

        <div class="job dates">
          June 2014 - May 2017
        </div>

        <div class="job description">
          Managed derivative workflow for 100+ clients, providing legal documentation for complex, sensitive deals while meeting stringent regulatory deadlines. Filled team lead roles in lieu of Associate Analyst. Managed Excel reports sent to senior leadership and 150 people and informing management of team progress.
        </div>
            
       </div>

       <h1>Education
        <i class="fa fa-angle-down rotate" 
        aria-hidden="true"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded="false"
        aria-controler="education">
        </i>
       </h1>

       <div class="collapse" id="education">
        <hr>
        <h2 class="education school">
          Bottega
        </h2>        

        <div class="job dates">
          June 2014 - May 2017
        </div>
        <div class="job description">
          Managed derivative workflow for 100+ clients, providing legal documentation for complex, sensitive deals while meeting stringent regulatory deadlines. Filled team lead roles in lieu of Associate Analyst. Managed Excel reports sent to senior leadership and 150 people and informing management of team progress.
        </div>       
       </div>
     </div>
  </div>

</div>

