

  <div class="container">
    <div>
      <h1>Contact</h1>
        <div class="row contact-row">
          <ul>
           <li> <a href="mailto:cherish.g.clark@gmail.com" class="contact-box"><i class="fa fa-envelope-o contact-icon" aria-hidden="true"></i> cherish.g.clark@gmail.com</a> 
           </li>
            <li> <p class="contact-box"><i class="fa fa-mobile contact-icon" aria-hidden="true"></i> (480)636-6951</p>
            </li>
         </div>
    </div>
  </div>