<div class="inner cover">

  <div class="inner cover left">
    <h1 class="cover-heading">Howdy, I'm Cherish Clark.</h1>
    <p class="lead">Full-stack web developer at your service.</p>
  </div>

  <div class="inner cover right">
    <p class="lead">
      <ul>
        <li> <%= link_to "CONTACT", contact_path, class: "btn btn-lg btn-secondary" %></li>
        <li> <%= link_to "RESUME", asset_path('CherishClarkResume.pdf'), class: "btn btn-lg btn-secondary" %></li>
      </ul>

    </p>
  </div>

</div>
